/* ====  RESET ============================ */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* ====  VARIABLES ============================ */
:root {
    --header-height: 4.5rem;

    /* colors */
    --base-color: #D2872C; /*Orange*/
    --base-color-second: #766F68; /*Gray*/

    /* fonts */
    --title-font-size: 1.87rem;
    --subtitle-font-size: 1rem;
    
    --title-font: 'Roboto', sans-serif;
 }

 