/* ====  RESET ============================ */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* ====  VARIABLES ============================ */
:root {
    --header-height: 4.5rem;

    /* colors */
    --base-color: #D2872C; /*Orange*/
    --base-color-second: #766F68; /*Gray*/
    /* --base-color-tree: #d88116; Orange-black */
    --base-color-tree: #ee8a0f; /*Orange-black*/

    /* fonts */
    --title-font-size: 1.87rem;
    --subtitle-font-size: 1rem;
    
    --title-font: 'Roboto', sans-serif;
 }

/* ====  BASE ============================ */
html {
    scroll-behavior: smooth;
}

body {
    font: 700 1rem var(--title-font);
    color:var(--base-color-second);
    -webkit-font-smoothing: antialiased;
}

.title {
    font: 400 var(--title-font-size) var(--title-font);
    color: var(--base-color-second);
    -webkit-font-smoothing: auto;
}

.button {
    background-color: var(--base-color);
    color: white;
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 1rem 6rem 0.4rem;
    border-radius: 1rem;
    font: 700 2rem var(--title-font);
    transition: backgrond 0.3s; 
}

.button:hover {
    background-color: var(--base-color-tree);
    color: white;
}

/* ====  LAYOUT ============================ */
.container {
    margin: 2rem;
    padding: 2rem;
}

.grid {
    display: grid;
    gap: 2rem;
}

.section {
    padding: calc(5rem + var(--header-height)) 0;
}

.section .title {
    margin-bottom: 1rem;
}

#header {
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
    /* display: flex; */

    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

/* ====  LOGO ============================ */
.logo {
    font: 700 2.2rem var(--title-font);
    color: var(--base-color);
}